[Unit]
Description=Dovetail window manager
Requires=sessiond-session.target
Wants=wm-launchd.service
After=wm-launchd.service sessiond.service
Wants=pulseaudio.service upower.service
After=pulseaudio.service upower.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/dovetail
Restart=always
