[Unit]
Description=Dovetail window manager
Requires=dbus.service
Wants=sessiond.service pulseaudio.service upower.service
After=sessiond.service pulseaudio.service upower.service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/dovetail
ExecStopPost=/usr/bin/sessionctl stop

[Install]
WantedBy=graphical-session.target
