[Unit]
Description=Dovetail window manager
Requires=dbus.socket
Wants=sessiond.service pulseaudio.service upower.service
After=sessiond.service pulseaudio.service upower.service dbus.socket
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/dovetail
ExecStopPost=/usr/bin/sessionctl stop

[Install]
WantedBy=graphical-session.target
